#modules{

    max-width: 960px;
    max-width: 68.571428571428571428571428571429rem;/*960/14*/
    margin: 2em auto;
}
#modules .inner{
    margin: 2em 0;
    text-align: center;
    width: 240px;
    width: 17.142857142857142857142857142857rem;
    float: left;
}

#colophon{
    clear: both;
    width: 100%;
    text-align: center;
    border-top: 1px solid #fff8dc;
    background: #9377BB;
}